@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

.container {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    text-shadow: 6px 6px 10px black, 6px 6px 10px black;
    background-color: rgba(0, 0, 0, .7);
}

.to {
    padding: 15px;
}

.content>h1 {
    height: 20%;
}

.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow:  2px 4px black;
    padding: 20px;
}

.link>a {
    text-decoration: none;
    color: black;
    font-size: 76px;
    height: 25%;
    width: 100vh;
    background-color: gray;
    border-left-style: outset;
    border-left-color: lightgrey ;
    border-left-width: 7px;
    border-top-style: outset;
    border-top-color: lightgrey;
    border-top-width: 7px;
    border-bottom-style: inset;
    border-bottom-color: dimgray;
    border-bottom-width: 8px;
    border-right-style: inset;
    border-right-color: dimgray;
    border-right-width: 8px;
    text-align: center;
    margin: 10px 10px;
    margin-left: 20px;
    padding: 5px;
    box-shadow: 0px 0px 0px 6px black;
}

.link>a:hover {
    background-color: lightgray;
    transition: .5 ease-in-out;
}


a {
    text-decoration: none;
    color: white;
}
.home {
    position: absolute;
    top: 0;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.footer {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 35px;
    
}

@media only screen and (max-width: 476px) {
    .link>a {
        font-size: 45px;
        width: 51vh;
        margin-left: 3px;
    }

    .content {
        font-size: 60px;
    }

    .home {
        font-size: 40px;
    }
  }