.container {
    width: 100%;
    height: 100vh;
}

.logo {
    position: absolute;
    width: 97%;
    height: 30%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 70px;
    text-shadow: 6px 6px 10px black, 6px 6px 10px black;
}

.overlay {
    position: absolute;
    width: 40px;
    height: 1.5em;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nama {
    position: absolute;
    width: 97%;
    height: 70%;
    margin-top: 15px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 76px;
}


.game {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 6%;
    top: 0;
    color: white;
    font-size: 30px;
    margin-top: 14em;
}

p {
    margin-left: 44%;
}

@media only screen and (max-width: 476px) {

    .overlay {
        margin-top: 10%;
    }

    .nama {
        margin-top: 0.5em;
    }

    .game {
        margin-top: 12.3em;
    }

    p {
        margin-left: 30%;
    }

  }